*-stamp
*.gmo
*.la
*.lo
*.o
*.swp
*.tar.*
*~
.deps
.libs
aclocal.m4
autom4te.cache
build-aux
ChangeLog
common/about-data.c
common/binary-data.c
common/color-scheme-icons.inc
config.*
configure
gmon.out
INSTALL
intltool*
libtool
Makefile
Makefile.in
Makefile.in.in
mate/mate-load-applet
mate/org.mate.*.mate-panel-applet
mate/org.mate.*.mate-panel-applet.in
mate/org.mate.*.mate-panel-applet.in.in
mate/org.mate.panel.applet.*.gschema.valid
mate/org.mate.panel.applet.*.gschema.xml
mate/org.mate.panel.applet.*.gschema.xml.in
mate/org.mate.panel.applet.*.service
old
po/.intltool-merge-cache
po/.intltool-merge-cache.lock
po/LINGUAS
po/load.pot
po/POTFILES
po/template.po
stamp-*